mixin footer()
	+b.FOOTER.footer.block-with-lazy.d-none.d-sm-block
		.container
			.row
				.col-lg-4
					+e.group
						+e.group-title marken
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente enim quibusdam eos illo similique nobis rem nesciunt ea! Doloribus, nihil asperiores, quo expedita in odio suscipit quos praesentium ratione libero harum repudiandae placeat cum pariatur reprehenderit inventore modi rem deserunt unde architecto fugit nulla dicta voluptatem delectus? 
				.col-lg
					+e.group
						+e.group-title pumpententechnik xxl
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente enim quibusdam eos illo similique nobis rem nesciunt ea! Doloribus, nihil asperiores, quo expedita in odio suscipit quos praesentium ratione libero harum repudiandae placeat cum pariatur reprehenderit inventore modi rem deserunt unde architecto fugit nulla dicta voluptatem delectus? Minus inventore porro eius, repellat magni vel illum consequuntur similique modi sunt numquam veritatis quam corporis a in, cupiditate officia. Distinctio molestiae sint, voluptas, beatae asperiores explicabo et, culpa assumenda qui rerum quod quis provident facere. Autem repudiandae at, illo cum nobis quaerat hic repellat quidem fugiat doloribus nemo velit minus nulla asperiores dolor. Id, praesentium repudiandae sapiente asperiores illo delectus quod quisquam quae, perferendis vel nihil, officia quas. 