.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-basket {
	font-size:(410.2/10)*1rem;
	width:(500/410.2)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-mark {
	font-size:(155.01/10)*1rem;
	width:(178.58/155.01)*1em;
}
.icon-user {
	font-size:(500/10)*1rem;
	width:(452.04/500)*1em;
}
.icon-web {
	font-size:(499.96/10)*1rem;
	width:(500/499.96)*1em;
}
