mixin s-content()
	// start s-content
	+b.s-content.section.block-with-lazy#s-content&attributes(attributes)
		.container
			+e.block.bg-primary
				h2 KLEINE FILTERKUNDE FÜR DEN HAUSGEBRAUCH.

				p Genießen Sie mit perma-trade Filtersystemen das gute Gefühl, auf der sicheren Seite zu sein. Wir bieten Ihnen für jede Anforderung die passende Lösung sowie flexible Filter-Varianten, die sich bequem um- und aufrüsten lassen. Was es überhaupt so alles gibt? Das haben wir hier kurz für Sie zusammen gefasst:
				p: strong 1. Wechselfilter
				p Unser minimaster Wechselfilter ist ein kostengünstiges Einstiegsmodell. Die Filterkerze muss hier nach DIN EN 806-5 alle sechs Monate ausgetauscht werden. Wer später mehr will? Kann einfach zum komfortableren Modell permaster black aufrüsten.
				p: strong 2. Rückspülfilter
				p Bei diesen Modellen muss die Filterkerze nicht mehr getauscht werden, sondern der Filter kann durch Drehen am Ablauftrichter regelmäßig von Hand rückgespült werden. Unsere patentierten Streifenbürsten säubern dabei das Edelstahlsieb und die Filtertasse schnell und zuverläsig.
				p: strong 3. Filter-Druckminderer-Kombination
				p Bei diesen Filter-Kombinationen sorgt ein integrierter Druckminderer zusätzlich für eine Absenkung des Betriebsdrucks und schützt dadurch Armaturen und Geräte vor eventuellen Schäden. Auch der Wasserverbrauch kann so gesenkt werden.
				p: strong 4. Automatikfilter
				p Ganz klar: Diese High-End-Lösung erledigt alles automatisch und reinigt sich sogar selbst im Alleingang. Nach wählbaren Zeitintervallen wird eine Rückspülung automatisch ausgeführt und Sie genießen maximalen Komfort.
	// end s-content